body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel, .title {
    position: relative;
}

.title {
    color: rgba(0, 0, 0, 0.712);
}

.carousel {
    width: 800px;
    height: 500px;
}

.slide {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.562);
    object-fit: cover;
    object-position: center;
    z-index: 2;
}

.pause, .prev-btn, .next-btn {
    font-size: 2rem;
}

.pause:hover, .prev-btn:hover, .next-btn:hover {
    color: red;
}

.pause {
    top: 80%;
    left: 50%;
    transform: translate(-80%, -50%);
    position: absolute;
    cursor: pointer;
}

.np-btn-container {
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    width: 100%;
    cursor: pointer;
    padding: 0 2em;
}